:root {
  --bg-color-one: #eeeff1;
  --bg-color-second: #34547a;
  --bg-color-third: #eeeff187;
  --title-color: black;
  --text-color: #727272;
  --white-text: white;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  padding-inline: 10px;
  margin: 0 auto;
}
@media (min-width: 769px) and (max-width: 1100px) {
  .container {
    padding-inline: 20px;
  }
}

/* Section Hero */
.hero {
  background-color: var(--bg-color-one);
  padding: 50px 0 140px 0;
}
@media (min-width: 375px) and (max-width: 768px) {
  .hero {
    padding: 25px 0 70px 0;
  }
}

.header {
  background-color: var(--bg-color-one);
}

.header__content {
  padding: 80px 0 115px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .header__content {
    padding: 40px 0 20px;
  }
}
@media (min-width: 769px) and (max-width: 1100px) {
  .header__content {
    padding-inline: 20px;
  }
}

.header__items {
  display: flex;
  gap: 50px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .header__items {
    display: none;
  }
}

.header__item:hover {
  transition: all 0.5s;
  transform: scale(1.15);
}

.header__link {
  text-transform: uppercase;
  color: var(--title-color);
  letter-spacing: 1.6px;
}
.header__link:hover,
.header__link.active {
  color: var(--bg-color-second);
  transition: all 0.5s;
}

.hero__title {
  font-weight: 500;
  font-size: 48px;
  color: var(--title-color);
  margin-bottom: 60px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .hero__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.hero__desc {
  width: 540px;
  margin-bottom: 60px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .hero__desc {
    width: 270px;
    font-size: 12px;
    margin-bottom: 30px;
  }
}

.header__button {
  background-color: var(--bg-color-second);
  padding: 15px 40px;
  color: var(--white-text);
  border: none;
  letter-spacing: 1.6px;
  cursor: pointer;
  border-radius: 5px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .header__button {
    padding: 10px 20px;
    font-size: 12px;
  }
}
.header__button:hover {
  transition: all 0.5s;
  transform: scale(1.15);
  border-radius: 15px;
}
/* Section Hero */

/* Section about */
.about {
  background-color: var(--bg-color-third);
}

.about__content {
  width: 540px;
  padding-block: 100px;
  margin: auto;
  text-align: center;
}
@media (min-width: 375px) and (max-width: 768px) {
  .about__content {
    padding-block: 50px;
    width: 270px;
    justify-items: center;
  }
}

.about__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
  color: var(--title-color);
}
@media (min-width: 375px) and (max-width: 768px) {
  .about__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
}
.about__desc {
  font-size: 12px;
}

@media (min-width: 769px) {
  .about__desc {
    font-size: 16px;
  }
}
/* Section about

/* Section icon */
.section__icon {
  background-color: var(--bg-color-second);
  padding-block: 100px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .section__icon {
    padding-block: 50px;
  }
}

.icons__flex {
  display: flex;
  gap: 45px;
  justify-content: space-between;
}
@media (min-width: 375px) and (max-width: 768px) {
  .icons__flex {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1100px) {
  .icons__flex {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
  }
}

.icon__flex {
  display: flex;
  gap: 20px;
  transition: all 0.5s;
  align-items: center;
}

.icon__flex:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.icon__content {
  display: flex;
  flex-direction: column;
}

.icon__number {
  color: var(--white-text);
  font-size: 21px;
  font-weight: 500;
}
@media (min-width: 375px) and (max-width: 768px) {
  .icon__number {
    font-size: 15px;
  }
}

.icon__text {
  color: var(--white-text);
}
@media (min-width: 375px) and (max-width: 768px) {
  .icon__text {
    font-size: 12px;
  }
}
/* Section icon */

/* How_I_Work section */
.work {
  background-color: var(--bg-color-one);
}

.work__content {
  width: 540px;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0px 55px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .work__content {
    padding: 50px 0 30px;
    width: 270px;
    justify-items: center;
  }
}

.work__title {
  font-size: 32px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 50px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .work__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .work__desc {
    font-size: 12px;
  }
}

.work__video {
  position: relative;
}

.work__player {
  max-width: 100%;
  display: block;
  padding-bottom: 100px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .work__player {
    padding-bottom: 50px;
  }
}

.work__button {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
@media (min-width: 375px) and (max-width: 768px) {
  .work__button {
    width: 50px;
    height: 50px;
    top: 30%;
  }
}
.work__button:hover {
  transform: scale(1.15);
  transition: all 0.5s;
  background-color: var(--bg-color-second);
  border-radius: 50%;
}
/* How_I_Work section */

/* Footer */
.footer {
  background-color: var(--bg-color-second);
}

.footer__content {
  padding-block: 50px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer__content {
    padding-block: 25px;
    justify-items: center;
  }
}

.footer__name {
  color: var(--white-text);
  line-height: 1.5;
  font-size: 21px;
  margin-bottom: 20px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer__name {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.footer__copyright {
  color: var(--white-text);
  line-height: 1.5;
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer__copyright {
    font-size: 12px;
  }
}
/* Footer */
